{% include base_path %}

{% assign title = post.title %}

<div class="{{ include.type | default: "list" }}__item" style="margin-bottom: 3em">
 <h3>{{ title }}  <a href="/files/{{ post.link }}" rel="permalink"> <i class="fa fa-link" aria-hidden="true"></i></a></h3>

    <p class="archive__item-excerpt" style="margin-top:-.9em">  {{post.authors | markdownify}} </p>
    <p class="archive__item-excerpt" style="margin-top:-.9em"> {{ post.conference | markdownify }}</p>
    <p class="archive__item-excerpt" style="margin-top:-.75em"> </p>
</div>